@model ProjectDetailsViewModel
@using static HumanCapitalManagement.Common.GeneralConstants;

@{
    ViewBag.Title = "Project Details";
    string currentUsername = Context.Session.GetString("Username")!;
    string currentUserRole = Context.Session.GetString("Role")!;
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-50 text-center">
        <img class="mt-2 text-center"  src=@Model.ImgUrl alt="Project Image">
    </div>
    <div class="card w-50 text-center">
        <div class="card-body">
            <h3 class="card-title text-center mb-5">@Model.Title</h3>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><b>Salary for the project:</b> $@Model.Salary</p>
            <p class="card-text"><b>Start date:</b> @Model.StartDate</p>
            <p class="card-text"><b>End date:</b> @Model.EndDate</p>
            <p class="mb-0"><span class="mt-5"><b>Employees asigned to this project:</b> </span>@Model.Employees.Count()</p>

            @foreach (var e in Model.Employees)
            {
                <div class="card text-center" style="width: 20rem; ">
                    <div class="card-body text-center">
                        <p class="card-title mt-1"><b>Name:</b> @e.FirstName @e.MiddleName @e.LastName</p>
                        <p class="card-title mt-1"><b>Username:</b> @e.Username</p>
                    </div>
                </div>
            }

            @if (!Model.Employees.Any())
            {
                <p>No employees asigned to this project!</p>
            }
        </div>
        <div>
            <a asp-controller="Project" asp-action="All" class="btn btn-outline-info mb-2 mt-5 w-50 p-3 fw-bold">Back to all projects</a>

            @if (currentUserRole == AdminRoleName)
            {
                <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-50 p-3 fw-bold text">Edit</a>
            }

            @if (!Model.Employees.Any(e => e.Username == currentUsername))
            {
                <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="Project" asp-action="Assign" method="post">
                    <input type="submit" value="Assign to project" class="fs-6 btn btn-success mb-2 p-2 w-50" />
                </form>
            }
            else
            {
                <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="Project" asp-action="Leave" method="post">
                    <input type="submit" value="Leave the project" class="fs-6 btn btn-danger mb-2 p-2 w-50" />
                </form>
            }

            @if (currentUserRole == AdminRoleName)
            {
                <form class="input-group-sm" id="myForm" onsubmit="customConfirm(event)" asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id">
                    <input type="submit" value="Delete the project" class="btn btn-danger mb-2 w-50 p-3 fw-bold text" />
                </form>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function customConfirm(e) {
            e = e || window.event;
            e.preventDefault();
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: true,
                cancelButtonColor: '#d33'
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    const myForm = document.getElementById("myForm");
                    myForm.submit();
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'The project is safe :)',
                        'error')
                }
            })
        }
    </script>
}