@model ProjectDetailsViewModel
@using static HumanCapitalManagement.Common.GeneralConstants;

@{
    ViewBag.Title = "Project Details";
    string currentUsername = Context.Session.GetString("Username")!;
    string currentUserRole = Context.Session.GetString("Role")!;
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-50">
        <div class="card-body">
            <img class="card-img-top" style="width: 18rem;" src=@Model.ImgUrl alt="Project Image">
            <h3 class="card-title text-center mb-5">@Model.Title</h3>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">Salary for the project: $@Model.Salary</p>
            <p class="card-text">Start date: @Model.StartDate</p>
            <p class="card-text">End date: @Model.EndDate</p>
            <p class="mb-0"><span class="fw-bold mt-5">Employees asigned to this project: </span>@Model.Employees.Count()</p>

            @foreach (var e in Model.Employees)
            {
                <div class="card col-4 mb-2 ms-2" style="width: 20rem; ">
                    <div class="card-body">
                        <h5 class="card-title mt-1">Name: @e.FirstName @e.MiddleName @e.LastName</h5>
                        <h5 class="card-title mt-1">Username: @e.Username</h5>
                    </div>
                </div>
            }

            @if (!Model.Employees.Any())
            {
                <p>No employees asigned to this project!</p>
            }
        </div>

        <a asp-controller="Project" asp-action="All" class="btn btn-outline-info mb-2 mt-5 w-100 p-3 fw-bold">Back to all projects</a>

        @if (!Model.Employees.Any(e => e.Username == currentUsername))
        {
            <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="Project" asp-action="Assign" method="post">
                <input type="submit" value="Assign to project" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        }
        else
        {
        <form class="input-group-sm" asp-route-id="@Model.Id" asp-controller="Project" asp-action="Leave" method="post">
            <input type="submit" value="Leave the project" class="fs-6 btn btn-success mb-3 p-2" />
        </form>
        }

        @if (currentUserRole == AdminRoleName)
        {
            <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-40 p-3 fw-bold text">Edit</a>

            <form class="input-group-sm " asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id">
                <input type="submit" value="Delete the project" class="btn btn-danger mb-2 w-40 p-3 fw-bold text" />
            </form>
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}