@model AddEditProjectViewModel

@{
    ViewBag.Title = "Edit project";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" onsubmit="notify(event)" method="post" id="myForm">
            <div class="mb-3">
                <div>
                    <label asp-for="@Model.Title" class="form-label-add-edit">Title</label>
                    <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                    <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="@Model.ImgUrl" class="form-label-add-edit">Image Url</label>
                    <textarea asp-for="@Model.ImgUrl" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="@Model.Salary" class="form-label-add-edit">Salary for the project</label>
                    <input asp-for="@Model.Salary" class="form-control" aria-required="true" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.StartDate" class="form-label-add-edit">Start Date</label>
                    <input asp-for="@Model.StartDate" class="form-control" aria-required="true" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.EndDate" class="form-label-add-edit">End Date</label>
                    <input asp-for="@Model.EndDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary fw-bold text" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function notify(e) {
            e = e || window.event;
            e.preventDefault();
            const myForm = document.getElementById("myForm");
            const fieldOne = myForm.childNodes[1].childNodes[1].childNodes[3].classList.contains("valid");
            const fieldTwo = myForm.childNodes[1].childNodes[3].childNodes[3].classList.contains("valid");
            const fieldThree = myForm.childNodes[1].childNodes[5].childNodes[3].classList.contains("valid");
            const fieldFour = myForm.childNodes[1].childNodes[7].childNodes[3].classList.contains("valid");
            const fieldFive = myForm.childNodes[1].childNodes[9].childNodes[3].classList.contains("valid");
            const fieldSix = myForm.childNodes[1].childNodes[11].childNodes[3].classList.contains("valid");
            let isValid = false;

            if (fieldOne && fieldTwo && fieldThree && fieldFour && fieldFive && fieldSix) {
                isValid = true;
            }

            if (isValid) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Succesfully edited project!',
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    myForm.submit();
                });
            }
        }
    </script>
}