@model IEnumerable<EmployeeViewModel>

@{
    ViewBag.Title = "All Employees In This Department";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4 mb-2 ms-2" style="width: 20rem; ">
            <div class="card-body">
                <img class="card-img-top" style="width: 18rem;" src=@e.ImgUrl alt="Employee Image">
                <h5 class="card-title mt-1">@e.Username</h5>
                <p class="card-text">@e.FirstName</p>
                <p class="card-text">@e.MiddleName</p>
                <p class="card-text">@e.LastName</p>
            </div>
        </div>
    }
    @if (!Model.Any())
    {
        <p>No employees hired in this department yet!</p>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
