@model DepartmentViewModel
@using static HumanCapitalManagement.Common.GeneralConstants;

@{
    ViewBag.Title = "Department Details";
    string currentUserRole = this.Context.Session.GetString("Role")!;
    this.Context.Session.SetInt32("DepartmentId", Model.Id);
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-50">
        <div class="card-body">
            <h3 class="card-title text-center mb-5">@Model.Title</h3>
            <p class="card-text">Manager: @Model.ManagerUsername - @Model.ManagerFirstName @Model.ManagerMiddleName @Model.ManagerLastName</p>
            
            @if (Model.Employees.Any())
            {
                <p class="mb-0">Number of employees working in this department: @Model.Employees.Count()</p>
            }

            else
            {
                <p>No employees working in this department</p>
            }
        </div>

        @if (currentUserRole == AdminRoleName)
        {    
            <a asp-controller="Department" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-40 p-3 fw-bold text">Edit</a>
            <a asp-controller="Department" asp-action="AllAvailable" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-40 p-3 fw-bold text">Move employees from other departments</a>
            <form class="input-group-sm " asp-controller="Department" asp-action="Delete" asp-route-id="@Model.Id">
                <input type="submit" value="Delete the department" class="btn btn-danger mb-2 w-40 p-3 fw-bold text" />
            </form>
        }

        <a asp-controller="Department" asp-action="All" class="btn btn-outline-info mb-2 mt-5 w-100 p-3 fw-bold">Back to all Departments</a>
        <a asp-controller="Department" asp-action="AllEmployees" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-40 p-3 fw-bold text">All employees in this department</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}