@model IEnumerable<EmployeeViewModel>

@{
    ViewBag.Title = "All Employees";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4 mb-2 ms-2" style="width: 20rem; ">
            <img class="card-img-top mt-2" style="width: 100%; height: 15vw; object-fit: cover;" src=@e.ImgUrl alt="Employee Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@e.Username</h5>
                <p class="card-text">@e.FirstName</p>
                <p class="card-text">@e.MiddleName</p>
                <p class="card-text">@e.LastName</p>
            </div>

            <a asp-controller="Employee" asp-action="Details" asp-route-id="@e.Id" class="btn btn-outline-secondary mb-2 w-100 p-3 fw-bold">View Details</a>
        </div>
    }
    @if (!Model.Any())
    {
        <p>No employees hired yet!</p>
    }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
