@model EmployeeDetailsViewModel
@using static HumanCapitalManagement.Common.GeneralConstants;

@{
    ViewBag.Title = "Employee Details";
    string currentUserRole = this.Context.Session.GetString("Role")!;
    string currentUserName = this.Context.Session.GetString("Username")!;
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row text-center">
    <div class="card w-50">
        <div class="card-body">
            <img class="card-img-top" style="width: 50%; height: 15vw; object-fit: cover;" src=@Model.ImgUrl alt="Employee Image">
            <h3 class="card-title text-center mb-5">@Model.Username</h3>
            <p class="card-text"><b>First Name:</b> @Model.FirstName</p>
            <p class="card-text"><b>Middle Name:</b> @Model.MiddleName</p>
            <p class="card-text"><b>Last Name:</b> @Model.LastName</p>
            <p class="card-text"><b>Email:</b> @Model.Email</p>
            <p class="card-text"><b>Department:</b> @Model.Department</p>
            <p class="card-text"><b>Job Title:</b> @Model.JobTitle</p>
            <p class="card-text"><b>Manager:</b> @Model.Manager</p>
            <p class="card-text"><b>Town:</b> @Model.Town</p>
            <p class="card-text"><b>Age:</b> @Model.Age</p>
            
            @if (Model.Projects.Any())
            {
                <p class="card-text"><b>Average Salary:</b> $@((Model.AverageSalary ?? 0).ToString("f2"))</p>
                <p class="card-text"><b>Involved in:</b> @Model.Projects.Count() @(Model.Projects.Count() > 1 ? "projects" : "project")</p>

                @foreach (var p in Model.Projects)
                {
                    <div class="card text-center" style="width: 20rem; ">
                        <div class="card-body text-center">
                            <h5 class="card-title mt-1">@p.Title</h5>
                            <p class="card-text"><b>Salary:</b> $@p.Salary</p>
                            <p class="card-text"><b>End Date:</b> @p.EndDate</p>
                        </div>
                    </div>
                }
            }

            else
            {
                <p>Not involved in any project yet!</p>
            }
        </div>

        <a asp-controller="Employee" asp-action="All" class="btn btn-outline-info mb-2 mt-5 w-100 p-3 fw-bold">Back to all employees</a>

        @if (currentUserRole == AdminRoleName && Model.Role != AdminRoleName)
        {
            <a asp-controller="Employee" asp-action="MakeAdmin" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-40 p-3 fw-bold text">Make Admin</a>
        }

        @if (currentUserRole == AdminRoleName && (Model.Role != AdminRoleName || Model.Username == currentUserName) || 
            (currentUserRole == EmployeeRoleName && currentUserName == Model.Username))
        {
            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-40 p-3 fw-bold text">Edit</a>

            <form class="input-group-sm" id="myForm" onsubmit="customConfirm(event)" asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id">
                <input type="submit" value="Delete the employee" class="btn btn-danger mb-2 w-40 p-3 fw-bold text" />
            </form>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function customConfirm(e) {
            e = e || window.event;
            e.preventDefault();
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: true,
                cancelButtonColor: '#d33'
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    const myForm = document.getElementById("myForm");
                    myForm.submit();
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'The profile is safe :)',
                        'error')
                }
            })
        }
    </script>
}