@model EditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4">
        <form method="post" id="myForm" onsubmit="notify(event)">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Username"></label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="FirstName" class="form-control" autocomplete="first name" aria-required="true" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="MiddleName" class="form-control" autocomplete="middle name" aria-required="true" />
                <label asp-for="MiddleName"></label>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="LastName" class="form-control" autocomplete="last name" aria-required="true" />
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Age" class="form-control" autocomplete="age" aria-required="true" />
                <label asp-for="Age"></label>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="JobTitle" class="form-control" autocomplete="job title" aria-required="true" />
                <label asp-for="JobTitle"></label>
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="ImgUrl" class="form-control" autocomplete="image url" aria-required="true" />
                <label asp-for="ImgUrl"></label>
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DepartmentId" class="form-label">Department</label>
                <select asp-for="@Model.DepartmentId" class="form-control">
                    @foreach (var d in Model.Departments)
                    {
                        <option value="@d.Id">@d.Title</option>
                    }
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.TownId" class="form-label">Town</label>
                <select asp-for="@Model.TownId" class="form-control">
                    @foreach (var t in Model.Towns)
                    {
                        <option value="@t.Id">@t.Name</option>
                    }
                </select>
                <span asp-validation-for="TownId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ManagerId" class="form-label">Manager</label>
                <select asp-for="@Model.ManagerId" class="form-control">
                    @foreach (var m in Model.Managers)
                    {
                        <option value="@m.Id">@m.FirstName @m.LastName</option>
                    }
                </select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Done</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function notify(e) {
            e = e || window.event;
            e.preventDefault();
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Succesfully edited information!',
                showConfirmButton: false,
                timer: 1500
            }).then((result) => {
                const myForm = document.getElementById("myForm");
                myForm.submit();
            })
        }
    </script>
}
